* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-app-region: drag;
  border-radius: 20px;
  margin: 0;
  background: transparent;

  }
  
 .app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 13.375rem;
    padding: 1rem 1.0625;


    background-image: url("images/SIZE1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
 }

 button,
 input,
 textarea,
 select {
   -webkit-app-region: no-drag;
   cursor: pointer;
 }
 #calendar { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 193px;
    height: 150px;

    background-image: url('images/SIZE2.png'); 
    background-size: cover; 
    background-position: center;

    margin: 10px 10px 70px 10px;

    position: relative;
    
    }
  
  
  #day {
    color: #fff;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 150px; 
    font-weight: 700;
    line-height: 1;
    margin: 0;
  }
  
  #month {
    color: #FFD64E;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 24px;
    text-transform: uppercase;

    position: absolute; 
    top: 170px;    
    left: 70px;
  }

  .calendar-icon {
    position: absolute;

    margin: 0 !important;

    bottom: 10px;
    right: 140px; 
    width: 60px;        
    height: 54px;
    object-fit: contain;
  }

#close-btn {
    position: absolute;
    top: 5px;    
    left: 5px;  
    
    width: 12px;  
    height: 12px; 
    background-color: #FFD64E;
    border: none;
    border-radius: 50%;
    
    /*x*/
    color: #FFFFFF;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 8px; 
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Invisível por padrão */
    opacity: 0;
    transition: opacity 0.3s ease;
    
    cursor: pointer;
    z-index: 10000;
    -webkit-app-region: no-drag;
}

/* Aparece quando passa o mouse na área do app */
.app:hover #close-btn {
    opacity: 1;
}

/* X sumir quando não estiver com o mouse em cima*/
#close-btn {
    color: transparent;
}

#close-btn:hover {
    color: #FFFFFF;
    transform: scale(1.2); /* Aumenta ao clicar */
}
